
/* 
*********
COMMON
*********
*/

body {
    margin: 0;
    padding:0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.image, .imageop{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transition: opacity 0.4s ease;
}

.sustainable-banner, .sustainable-banner-first{
    font-size: 10px;
    position: absolute;
    bottom: 20px;
    background-color: #1a6f00;
    color: white;
    padding: 5px 10px;
    z-index: 1;
    font-weight: bold;
}

/* 
*********
HEADER
*********
*/

.header {
    background-color: #f36726;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 10px 20px;
}



.menu{
    margin-left: 70px;
}

.text{
    margin-right: 70px;
}

.logo img {
    width: 120px;
}

.header i {
    margin: 0px 5px;
}


/* 
*********
TESTI
*********
*/

.menu, .text {
    color: white;
    font-weight: bold;
}


.brand, .fit, .price{
    margin: 0px;
}
.fit{
    font-size: 15px;
}

.brand{
    font-weight: lighter;
    font-size: 14px;
}

.price{
    color: #ff5733;
    font-size: 14px;
    font-weight: bold;
}

.barred{
    font-weight: lighter;
    font-size: 14px;
    text-decoration:line-through
}

.image-description {
    text-align: center; 
    margin-top: 10px; 
    font-weight: bold; 
    color: #333;
}

.footer-title {
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.footer-subtitle {
    font-size: 14px;
    color: white;
    padding-bottom: 5px;
}

/* 
*********
MAIN
*********
*/

.container-colonne {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}

.columns{
    display: flex;
    flex-direction: column;
}
.container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.square {
    width: 350px;
    height: 500px;
    display: block;
    background-color: #f0f0f0;
    position: relative;
    overflow: hidden;
    margin: 0px 10px;
}


.square-img {
    width: 350px;
    height: auto;
    position: relative;
    overflow: hidden;
    margin: 10px;
    margin-bottom: 40px;
}

.image {
    opacity: 0;
}

.imageop{
    opacity: 1;
}


.discount-banner {
    font-size: 10px;
    position: absolute;
    bottom: 20px;
    left: 0;
    background-color: #ff5733; 
    color: white;
    padding: 5px 10px;
    z-index: 1;
    font-weight: bold;
}

.sustainable-banner{
    left: 55px;
}

.sustainable-banner-first {
    left: 0px;
}

.heart {
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 0;
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    z-index: 1;
    transition: font-size 0.5s ease;
}


/* 
*********
HOVER
*********
*/

.heart:hover {
    font-size: 23px;
    color: #ff5733;
}

.square:hover .image1 {
    opacity: 0;
}

.square:hover .image2 {
    opacity: 1;
}

square:hover .image3 {
    opacity: 0;
}

.square:hover .image4 {
    opacity: 1;
}

square:hover .image5 {
    opacity: 0;
}

.square:hover .image6 {
    opacity: 1;
}

.square:hover .image7 {
    opacity: 0;
}

.square:hover .image8 {
    opacity: 1;
}

.square:hover .image9 {
    opacity: 0;
}

.square:hover .image10 {
    opacity: 1;
}

.square:hover .image11 {
    opacity: 0;
}

.square:hover .image12 {
    opacity: 1;
}

/* 
*********
FOOTER
*********
*/


.footer{
    background-color: #161616;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 20px 20px;
}



.right, .left{
    padding-bottom: 5px;
}

.footer p {
    margin: 5px;
}

.footer span {
    margin-left: 5px;
}
